<%- include('../partials/header') %>

<h2>Add a New Skatespot</h2>
<form action ="/skatespots" method="POST">
    <label>Title:
        <input type="text" name="title">
    </label><br>
    <label>Location:
        <input type="text" name="location">
    </label><br>
    <label>Rating:
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </label><br>
    <button type="submit">Add Skatespot</button>
</form>

<%- include('../partials/footer') %>